@import "../../../app/styles/variables.scss";
.button {
  background-color: var(--color-alizarin);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-black-rock);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    background-color: gray;
  }

  @media (width < 768px) {
    font-size: 14px;
    padding: 10px 20px;
  }

  @media (width < 480px) {
    font-size: 12px;
    padding: 10px 15px;
  }
}
