@import "../../../app/styles/variables";

.form__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  @media (width < 768px) {
    height: 60vh;
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  @media (width < 768px) {
    font-size: 14px;
    width: fit-content;
  }
  @media (width < 480px) {
    font-size: 12px;
    width: fit-content;
  }
}
